<%- include('partials/header'); -%>
    <div class="container">
        <div class="w3-row w3-padding-12">
            <div class="w3-col l8">
                <h6>HEPMAL PROJECT</h6>
                <h1>6-Month HEPMAL Progress meeting held on Thursday March 4th 2021 at the Noguchi Conference Hall.</h1>
                <span>Thursday, 4th March, 2021.</span>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l8">

                <div class="slideshow-container">

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/Dr. Kusi.jpg" alt="Slide Image">
                        <div class="text">Dr. Kusi welcoming everyone to the meeting</div>
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/img_slide.jpg" alt="Slide Image">
                        <!-- <div class="text"></div> -->
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/img_slide1.jpg" alt="Slide Image">
                        <!-- <div class="text"></div> -->
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/Guest-Speakers.jpg" alt="Slide Image">
                        <div class="text">Guest speakers at the meeting.</div>
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/Prof. Dorcas Obiri-Yeboah.jpg" alt="Slide Image">
                        <div class="text">Prof. Dorcas Obiri-Yeboah speaking on the 'Clinical management of HBV in Ghana'</div>
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/Dr. Linda.jpg" alt="Slide Image">
                        <div class="text">Dr. Linda Amoah</div>
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/Dr. Michael Ofori.jpg" alt="Slide Image">
                        <div class="text">Dr. Michael Ofori, Head of the Department of Immunology</div>
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/img_slide3.jpg" alt="Slide Image">
                        <!-- <div class="text"></div> -->
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/img_slide4.jpg" alt="Slide Image">
                        <!-- <div class="text"></div> -->
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/Prof. Abraham Anang.jpg" alt="Slide Image">
                        <div class="text">Prof. Abraham Anang, Director of the NMIMR</div>
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/img_slide5.jpg" alt="Slide Image">
                        <!-- <div class="text"></div> -->
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/img_slide7.jpg" alt="Slide Image">
                        <!-- <div class="text"></div> -->
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/img_slide8.jpg" alt="Slide Image">
                        <!-- <div class="text"></div> -->
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/Mr. Mohammed Kofi Yasimo.jpg" alt="Slide Image">
                        <div class="text">Mr. Mohammed Kofi Yasimo. Vice President, The Hepatitis Foundation of Ghana</div>
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/img_slide11.jpg" alt="Slide Image">
                        <!-- <div class="text"></div> -->
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/img_slide10.jpg" alt="Slide Image">
                        <!-- <div class="text"></div> -->
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/Mr. Hardy Agbevey.jpg" alt="Slide Image">
                        <div class="text">Mr. Hardy Agbevey, a member of the field team giving his talk</div>
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/Group photograph.jpg" alt="Slide Image">
                        <div class="text">Group photograph</div>
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/Project Investigators & invited guests.jpg" alt="Slide Image">
                        <div class="text">Project investigators & invited guests</div>
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/Dr. Kusi & Dr. van der Puije.jpg" alt="Slide Image">
                        <div class="text">Dr. Kusi & Dr. van der Puije</div>
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/banner.jpg" alt="Slide Image">
                    </div>

                    <a class="prev" onclick="plusSlides(-1)"> <i class="fas fa-chevron-left"></i> </a>
                    <a class="next" onclick="plusSlides(1)"> <i class="fas fa-chevron-right"></i> </a>

                </div>

                <h6>Introduction</h6>
                <p>The 6-Month Progress Meeting of the HEPMAL project brought together scientists in Hepatitis B virus (HBV) and Malaria research, clinical practitioners, nurses, a representative from the Hepatitis Foundation of Ghana (HFG), staff of the Noguchi Memorial Institute for Medical Research (particularly the Immunology Department), students etc. </p>

                <p>Dr. Kwadwo Asamoah Kusi, the Principal Investigator (PI) of the project, delivered the opening address and welcomed all (in-person and on-line) to the half-year progress meeting of the project. Dr. Kusi gave a brief background of the project and the aims, particularly to investigate how these parasites influence and affect the liver during co-infections. He acknowledged the funders of the project; the European and Developing Countries Clinical Trials Partnership (EDCTP), and reminded all who were present in-person to observe the Covid-19 protocols.</p>

                <h6>Chairman’s response and HOD’s support</h6>
                <p>The chair for the occasion was the Director of the Noguchi Memorial Institute for Medical Research, Prof. Abraham Anang. He was introduced by Dr. Linda Amoah, a Co-Invesigator on the HEPMAL Project. In his remarks, the Chairman stressed on how the subject of the day was of great interest to many, in that it brought together two major disease burdens in Africa.</p>
                <p>Next to speak was Dr. Michael Ofori, the HOD of the Department of Immunology. He stated that the Department was pleased to host such a project and that his office would do their best to facilitate the success of the project. He was particularly happy about the training component of the study, which would offer great training opportunities for students on the project.</p>

                <h6>Message from the HFG</h6>
                <p>Mr. Yasimo, in his capacity as vice president of the Hepatitis Foundation of Ghana, introduced the Foundation and described some of their activities since its establishment in 2008. He disclosed that the foundation had over the years chalked many achievements, notable among them being the formulation of a national policy for hepatitis monitoring and control, in collaboration with stakeholders. </p>

                <p>Dr. Kusi thanked Mr. Yasimo for his address and remarked that the HEPMAL project was not only about the science but also interested in the social impact, and thus looked forward to more collaborations with the Foundation.</p>

                <h6>Special Guest Speakers</h6>
                <p>Rev. Prof. Kwamena Sagoe, a Virologist and Senior Lecturer at the University of Ghana Medical School, and Prof. Dorcas Obiri-Yeboah, Senior Lecturer and Medical Practitioner, University of Cape Coast were special guest speakers at the event.</p>

                <p>Prof. Sagoe gave a presentation on HBV epidemiology and research in Ghana, citing the fact that the real state of HBV in the country as a whole remains unclear, as most studies are disproportionate in location and done in isolation. He deemed it necessary for all the different algorithms currently used in HBV testing to be fine-tuned and well defined in a national guideline for HBV testing, and remarked that if all stakeholders were as aggressive with Hepatitis B vaccination as with Covid-19 vaccination, the disease would be successfully controlled in just a few years. Prof. Sagoe also added that due to vaccination, prevalence rates were satisfactorily low in children, but certain groups, like prisoners, had some of the highest prevalence figures, and proposed the active vaccination of such groups. </p>

                <p>Prof. Obiri-Yeboah’s presentation on the Clinical Management of HBV in Ghana addressed ‘what happens after screening’. She explained that in clinical practice, a range of factors come into play from the point of screening to pre-treatment assessment and then treatment. Following confirmation of HBV, patients are also assessed for co-infection with for example, HIV and HCV, along with assessment on the state of the liver. All these factors, among others, Prof. Obiri-Yeboah explained, enables the clinician to decide whether to put a patient on treatment or not. In vertical acquisition of the infection by the baby from the mother, there is a 90% chance of the baby developing chronic infection, emphasizing the need for a national program focusing on mother to child transmission. To end her talk, Prof. Obiri-Yeboah touched on the differences between HBV cure and treatment, stressing that HBV cannot be cured but can be treated.</p>

                <h6>Project Update Presentations</h6>

                <p>In the next session of the meeting, there were more project-specific presentations. Dr. Kusi spoke on Malaria in the Liver, which is clinically an asymptomatic stage of the Plasmodium lifecycle but an immunologically important stage. He also talked about the immune response in chronic and acute HBV, compared to that for malaria, and some of the questions the project sought to answer due to this coinfection.</p>

                <p>Dr. Kusi introduced the website for the project and introduced the HEPMAL project team comprising of four co-investigators; a post-doctoral fellow, two PhD students, two Masters students, field staff, laboratory support staff, data team and hospital staff. </p>

                <p>For the next session of the meeting, representatives of the various groups under the project gave updates on the work they had done so far. These were from the field and sample collection, data entry and management, as well as a summary of the work done so far by the Post-Doctoral fellow on the project, Dr. William van der Puije. </p>

                <h6>Student Presentations</h6>

                <p>The two PhD students on the project then gave presentations of their work;</p>
                <p>Miss Diana Asandem presented on ‘Influence of host and viral diversity in HBV infection’, the aim of which is to investigate the effect of viral and host genetic diversity in HBV infection and then compare that with wild type HBV infection and malaria, and</p>

                <p>Mr. Philip Selorm Segbefia, whose topic was ‘Evaluation of the effect of chronic HBV infection on cytokine expression in Plasmodium falciparum co-infection’. His work aims at investigating the effect of chronic HBV infection on the specific cellular responses to Plasmodium falciparum infection.</p>

                <p>There were two other presentations titled ‘Immunomodulatory and toxicological effects of some medicinal plants in murine models’ and ‘Effect of Long-term parasite exposure on the induction of cross-strain anti-AMA1 antibodies in humans’ by MPhil students Ayisha Mahama and Franklin Nuokpem respectively on immunology, though not directly related to the project.</p>

                <p>To end the meeting, Dr. Kusi acknowledged all members of the team for their hard work and contributions in diverse aspects of the project. He gave a projection of what the next six months would look like and mean for the project, and hoped the team would have completed recruitment of all 120 participants.</p>

                <p>The general impression was that the HEPMAL project had taken off on an excellent note despite a few challenges and was set to produce groundbreaking and impactful results.</p>

                <p>Dr. Linda Amoah gave the vote of thanks to all who participated in the program and the meeting came to a close at about 3:40pm.</p>
            </div>

            <div class="w3-col l4 w3-padding-large">
                <h5>Clinical and Immunopathological Consequences of Chronic HBV and
                    Plasmodium falciparum Co-infections <br> (Hepatitis Malaria Co-Infection)
                </h5>
                <hr>
                <h5>Guest Speakers:</h5>
                <div class="w3-row">
                    <div class="w3-col l6 w3-padding-small">
                        <h6>Professor Dorcas Obiri-Yeboah</h6>
                        <span class="w3-text-grey">Department of Microbiology & Immunology<br>
                            School of Medical Sciences<br>
                            University of Cape Coast, Ghana</span>
                    </div>
                    <div class="w3-col l6 w3-padding-small">
                        <h6>Professor Kwamena Sagoe</h6>
                        <span class="w3-text-grey">Department of Medical Microbiology<br>
                            School of Biomedical & Allied Health Sciences<br>
                            University of Ghana</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container articles">
        <h5>Related Articles</h5>
        <a href="https://www.gna.org.gh/1.19988430#"><span>Ghana News Agency (GNA) <i
                    class="fas fa-external-link-alt"></i></span> </a>
        <a
            href="https://mobile.ghanaweb.com/GhanaHomePage/health/Let-s-attach-same-aggressiveness-to-Hep-B-as-we-re-doing-coronavirus-Virologist-1197217"><span>GhanaWeb
                <i class="fas fa-external-link-alt"></i></span></a>
        <a
            href="https://mobile.ghanaweb.com/GhanaHomePage/health/Let-s-attach-same-aggressiveness-to-Hep-B-as-we-re-doing-coronavirus-Virologist-1197217"><span>Graphic
                Online <i class="fas fa-external-link-alt"></i></span></a>
        <a href="https://www.myjoyonline.com/government-asked-to-provide-a-national-guideline-for-hepatitis-b-testing/"><span>myjoyonline
                <i class="fas fa-external-link-alt"></i></span></a>

    </div>

    <%- include('partials/footer'); -%>