<%- include('partials/header'); -%>

  <div id="home"></div>
  <!-- Parallax -->
  <div class="parallax w3-card"
    style="background: url(https://cdn.sanity.io/images/0vv8moc6/infenctioncontrol/b12effda4baaed287a38bb55efb1d53bd814e7ff-1920x1080.jpg?auto=format) no-repeat center; background-size: cover;">
    <div class="parallax-caption">
      <img class="w3-round-large w3-center w3-padding-small" src="images/edctp-logo.jpg" alt="Hepmal Sponsor.">
      <img id="euflag" src="images/euflag.jpg" alt="EU Logo">
      <img class="w3-right" src="images/logo.png" alt="Noguchi Logo">
      <div class="w3-center">
        <h1 class="caption-text w3-card">Clinical and Immunopathological Consequences of Chronic HBV and <i>Plasmodium
            falciparum</i> Co-infections</h1>
        <h1 class="caption-text w3-card">(HEPMAL)</h1>
      </div>
      <div class="w3-padding-24 w3-center">
        <a href="#general-info">
          <i class="fas fa-arrow-down parallax-arrow w3-card-4 w3-medium zoom"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- Parallax -->










  <!-- Alert -->

  <!-- <div class="alert w3-center">
    <span class="closebtn">
      <i class="fas fa-times"></i>
    </span>
    <span class="w3-text-white">

      <i class="fas fa-bell w3-large w3-text-white"></i> &nbsp;
      <strong class="w3-text-red"> WORLD HEPATITIS DAY 2021 </strong>
      <span> Webinar Series </span>
      <strong class="w3-text-red"> (Hep Can't Wait!) </strong>
      <span class="w3-text-yellow webinarDate">
      </span>
      •
      <strong><span class="bannerlink webinarModalLink">View all details</span></strong>
      <br>
      <i class="fas fa-bell w3-large w3-text-white"></i> &nbsp;
      <strong class="w3-text-red"> WORLD HEPATITIS DAY </strong>
      <span> Medical outreach </span>
      <span class="w3-text-yellow hepDayDate">
      </span>
      •
      <strong><span class="bannerlink hepDayModalLink">View all details</span></strong>

    </span>
  </div> -->

  <!-- Alert -->
 
<!-- 
  <div class="hep-section-container w3-center">
    <div class="w3-padding-10">
      <h1 class="hep-section-title w3-text-indigo"><span class="w3-text-red">World Hepatitis Day</span> Events</h1>
      <p><strong>HEPMAL PROJECT</strong> under the auspices of the <strong>Hepatitis Foundation of Ghana</strong></p>
      <span>presents;</span>
    </div>
    <div class="w3-row">

      <div class="w3-col l6 m6 w3-padding-10">
        <h5 class="w3-text-indigo"><strong>WORLD HEPATITIS DAY 
        <span class="w3-text-black">Webinar Series</span> </strong> <strong class="w3-text-red">(Hep Can't Wait!)</strong></h5>
        <span><i class="fas fa-calendar"></i> &nbsp; 26th - 27th July 2021 </span>
        <br>
        <span><i class="fas fa-clock"></i> &nbsp;3pm each day</span>
        <br>
        <span class="w3-text-red"><i class="fas fa-video"></i> &nbsp;JOIN us live on ZOOM</span>
        <div class="w3-padding-16">
          <button class="w3-button w3-card zoom w3-indigo w3-round w3-hover-indigo w3-hover-shadow
          webinarModalLink">All Details &nbsp; <i class="fas fa-expand-alt"></i>  </button>
        </div>
      </div>

      <div class="w3-col l6 m6 w3-padding-10">
        <h5 class="w3-text-indigo"> <strong>WORLD HEPATITIS DAY <span class="w3-text-black"></span> </strong> </h5>
        <span><i class="fas fa-calendar"></i> &nbsp; 28th July 2021</span>
        <br>
        <span><i class="fas fa-clock"></i> &nbsp;10am</span>
        <br>
        <span><i class="fas fa-map-marker-alt"></i> &nbsp;UG Banking Square</span>
        <div class="w3-padding-16">
          <button class="w3-button w3-card zoom w3-indigo w3-round w3-hover-indigo w3-hover-shadow
          hepDayModalLink">All Details &nbsp; <i class="fas fa-expand-alt"></i> </button>
          <a class="phonelink" href="tel:0279620121">
            <button class="w3-button w3-round-xxlarge w3-black zoom w3-hover-indigo w3-card">
              <i class="fas fa-phone"></i> 
              0279620121
            </button>
          </a>
          <a class="phonelink" href="tel:0548503875">
            <button class="w3-button w3-round-xxlarge w3-black zoom w3-hover-indigo w3-card">
              <i class="fas fa-phone"></i> 
              0548503875
            </button>
          </a>
          
        </div>
      </div>

    </div>
  </div> -->










  <div id="general-info"></div>
  <!--  Main Section / Container -->
  <div class="container">
    <div class="w3-row">
      <div id="bookmarks"></div>
      <div class="w3-col l2 w3-padding-small">
        <div class="vertical-menu w3-round w3-border w3-border-light-grey zoom">
          <h6 class="w3-wide"><i class="far fa-bookmark w3-medium "></i> BOOKMARKS</h6>
          <a href="#home" class="zoom"><i class="fas fa-chevron-up w3-tiny "></i> Project Home</a>
          <a href="#general-info" class="zoom"><i class="fas fa-chevron-right w3-tiny"></i> General Info</a>
          <a href="#the-project" class="zoom"><i class="fas fa-chevron-right w3-tiny"></i> The Project</a>
          <a href="#aims" class="zoom"><i class="fas fa-chevron-right w3-tiny"></i> Aims</a>
          <a href="#institutions" class="zoom"><i class="fas fa-chevron-right w3-tiny"></i> Participating
            Institutions</a>
          <a href="#research-team" class="zoom"><i class="fas fa-chevron-right w3-tiny"></i> Research Team</a>
          <a href="#work-plan" class="zoom"><i class="fas fa-chevron-right w3-tiny"></i> Work Plan</a>
        </div>
      </div>

      <!-- Middle Column -->
      <div class="w3-col l8 s12 w3-round w3-border w3-border-light-grey w3-padding-medium">
        <div class="w3-margin-bottomcustom">

          <div class="w3-center w3-padding-24">
            <img class="w3-image w3-card w3-round-large parasite-image"
              src="https://cdn.sanity.io/images/0vv8moc6/infenctioncontrol/b12effda4baaed287a38bb55efb1d53bd814e7ff-1920x1080.jpg?auto=format"
              alt="Parasite Image">
            <div class="w3-padding-10">
              <i class="fas fa-image"></i> <a
                href="https://www.infectioncontroltoday.com/view/carbohydrates-may-be-key-better-malaria-vaccine">Image
                courtesy of Walter and Eliza Hall Institute of Medical Research.</a>
            </div>
          </div>

          <h2 id="general-info" class="section-title">PROJECT SUMMARY</h2>
          <span class="w3-text-grey">General Information</span>

          <table class="w3-table ">
            <tr>
              <th>Title</th>
              <td>Clinical and immunopathological consequences of chronic HBV and <em>Plasmodium falciparum</em>
                co-infections.
              </td>
            </tr>
            <tr>
              <th>Acronym</th>
              <td>HEPMAL</td>
            </tr>
            <tr>
              <th>Duration</th>
              <td>48 months</td>
            </tr>
            <tr>
              <th>EDTCP Grant ID</th>
              <td>TMA2018SF-2456</td>
            </tr>
            <tr>
              <th>Sponsor Name & Address</th>
              <td>The European & Developing Countries Clinical Trials Partnership (EDTCP), PO Box 93015, 2509 AA The
                Hague, The Netherlands.</td>
            </tr>
            <tr>
              <th>Coordinating Institution</th>
              <td>University of Ghana, Legon, Accra.</td>
            </tr>
            <tr>
              <th>NMIMR STC number & approval date</th>
              <td>2(2) 2019-20 (Date: 13th December 2019)</td>
            </tr>
            <tr>
              <th>NMIMR IRB approval number</th>
              <td>046/19-20 (8th January 2020) Renewed 6th November 2020</td>
            </tr>
            <tr>
              <th>KBTH STC approval number</th>
              <td>KBTH-STC 000024/2020 (Date: 9th April 2020)</td>
            </tr>
            <tr>
              <th>KBTH IRB approval number</th>
              <td>KBTH-IRB 00024/2020 (Date: 27th May 2020) Renewed 9th June 2021</td>
            </tr>
          </table>
        </div>
        <div id="the-project"> </div>
        <h2 class="section-title">THE PROJECT</h2>
        <span class="w3-text-grey">Introduction</span>
        <p>Malaria and viral hepatitis due to Hepatitis B virus (HBV) are two very common infectious diseases prevalent
          in sub-Saharan Africa and together account for significant morbidity and mortality.</p>
        <p>In Ghana, half a million more cases of malaria were recorded in 2019, representing an 8% increase over the
          previous year (WMR 2019). Globally, Ghana and 10 other countries account for 70% of the global estimated case
          burden, as well as 71%
          of estimated deaths (WMR 2019)</p>
        <p>Similarly, 2015 figures indicate that 257 million people worldwide live with chronic hepatitis B infection,
          with some 887 000 deaths attributed to the disease (mostly from cirrhosis and hepatocellular carcinoma) in the
          same year.</p>
        <p>The common organ targeted by both Plasmodium and HBV is the liver. Sporozoites from an infectious mosquito
          bite first invade, develop and multiply in liver cells, while HBV also targets the liver and causes a
          prolonged infection that may
          result in liver cancer or cirrhosis.</p>
        <p>Inevitably, there are instances where the causative organisms of these diseases co-infect individuals in the
          general population. Differences in immune responses to these pathogens means that chronic HBV infections can
          affect liver stage
          malaria-specific T cell responses, while Plasmodium infection could also contribute to liver pathology in
          chronic HBV-infected subjects. The effect of these interactions are especially important in the future context
          of administering an
          approved malaria vaccine in HBV-endemic populations of sub-Saharan Africa, as routine administration of
          vaccines to chronic HBV-infected persons may not yield the expected immunization outcomes.</p>
        <p>The overall goal of the proposed study is therefore to investigate and define the by-stander effects of an
          on-going chronic HBV infection on immune responses to Plasmodium liver stage infection. We will also assess
          whether a Plasmodium
          liver stage infection affects chronic HBV infection outcome in co-infected individuals.</p>
        <p>We hope to establish baseline data on the immunological and clinical outcomes of Plasmodium/chronic HBV
          co-infections, leading to improved HBV monitoring, management and education.</p>
        <div id="aims"></div>
        <h6 class="section-title">Our specific aims are therefore to:</h6>
        <ul class="w3-ul">
          <li>1. Determine the effect of chronic HBV infection on the outcome of Plasmodium liver stage infection.</li>
          <li>2. Determine the cytokine expression profiles of white cells from chronic HBV patients with and without
            Plasmodium infection over a one-year period.</li>
          <li>3. Define the effect of liver stage Plasmodium infection on liver pathology in chronic HBV infected
            individuals.</li>
        </ul>
        <div id="institutions"></div>
        <h6 class="section-title">Participating Institutions:</h6>
        <ul class="w3-ul">
          <li>Noguchi Memorial Institute for Medical Research (NMIMR), University of Ghana.</li>
          <li>Gastroenterology Unit, Korle Bu Teaching Hospital.</li>
          <li>University of Ghana Hospital.</li>
        </ul>
        <br>
        <br>
        <br>
        <br>
        <div id="research-team"></div>
        <h2 class="section-title">RESEARCH TEAM</h2>

        <div class="w3-row w3-padding-16">

          <div class="w3-col l4 w3-padding-small">
            <div class="w3-card w3-round w3-border-bottom w3-border-grey zoom profile kusi">
              <img class="w3-round" src="images/img_kusi.jpg" alt="" style="width:100%;">
              <div class="w3-padding-medium">
                <i class="fas fa-user-md"></i>
                <i class="fas fa-id-card-alt w3-large w3-right w3-text-indigo w3-hover-text-grey" title="View Full"></i>
                <h6 class="w3-margin-0">Dr. Kwadwo Asamoah Kusi</h6>
                <span class="w3-text-grey w3-margin-0">Principal Investigator.</span>
                <hr>
                <i class="w3-text-black fas fa-university"></i>
                <p class="w3-margin-0">Department of Immunology, NMIMR, UG, Legon.</p>
              </div>
            </div>
          </div>

          <!-- The Modal -->
          <div class="modal" id="kusi">
            <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <span class="close"><i class="w3-text-black far fa-window-close"></i></span>
                <i class="fas fa-id-card-alt"></i>
                <h2 class="w3-margin-0">Dr. Kwadwo Asamoah Kusi</h2>
              </div>
              <div class="w3-row modal-body">
                <div class="w3-col l2">
                  <img class="w3-image w3-circle" src="images/img_kusi.jpg" alt="Image of Dr. Kwadwo Asamoah Kusi">
                </div>
                <div class="w3-col l10 w3-padding-large">
                  <i class="fas fa-info-circle w3-text-grey"></i>&nbsp;
                  <span class="w3-padding-0">Principal Investigator for the HEPMAL project</span>
                  <p class="w3-justify">Dr Kwadwo Asamoah Kusi is the Principal Investigator for the HEPMAL project.
                    After his PhD at
                    Leiden
                    University in the Netherlands he has, over the years,
                    conducted both field and laboratory based research and authored/co-authored a significant number of
                    peer-reviewed publications in his subject area.
                    Dr Kusi has a record of training students at the masters, PhD and post-doctoral levels, and the
                    HEPMAL project
                    offers an opportunity to continue this with the students and post-doctoral candidate enrolled on the
                    project.
                  </p>
                </div>
              </div>
              <div class="modal-footer">
                <h6 class="w3-margin-0">Department of Immunology, NMIMR, UG, Legon.</h6>
              </div>
            </div>
          </div>

          <div class="w3-col l4 w3-padding-small">
            <div class="w3-card w3-round w3-border-bottom w3-border-grey zoom profile bonney">
              <img class="w3-round" src="images/img_bonney.jpg" alt="" style="width:100%;">
              <div class="w3-padding-medium">
                <i class="fas fa-user-md"></i>
                <i class="fas fa-id-card-alt w3-large w3-right w3-text-indigo w3-hover-text-grey" title="View Full"></i>
                <h6 class="w3-margin-0">Dr. Kofi Bonney</h6>
                <span class="w3-text-grey w3-margin-0">Co-Investigator.</span>
                <hr>
                <i class="w3-text-black fas fa-university"></i>
                <p class="w3-margin-0">Department of Virology, NMIMR, UG, Legon.</p>
              </div>
            </div>
          </div>

          <!-- The Modal -->
          <div class="modal" id="bonney">
            <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header w3-center">
                <span class="close"><i class="w3-text-black far fa-window-close"></i></span>
                <i class="fas fa-id-card-alt"></i>
                <h2 class="w3-margin-0">Dr. Kofi Bonney</h2>
              </div>
              <div class="w3-row modal-body">
                <div class="w3-col l2">
                  <img class="w3-image w3-circle" src="images/img_bonney.jpg" alt="Image of Dr. Kofi Bonney">
                </div>
                <div class="w3-col l10 w3-padding-large">
                  <i class="fas fa-info-circle w3-text-grey"></i>&nbsp;
                  <span>Co-Investigator for the HEPMAL project</span>
                  <p class="w3-justify">
                    Dr. Kofi Bonney is a virologist with over fifteen years involvement in the conduct of biomedical
                    research and laboratory diagnosis of viral pathogens of public health importance. He had a sandwich
                    PhD program with the Bernhard Nocht Institute for Tropical Medicine in Hamburg, Germany and the
                    Department of Microbiology, University of Ghana Medical School. He is currently a Senior Research
                    Fellow with the Virology Department of NMIMR and is a PhD student supervisor on this project.
                  </p>
                </div>
              </div>
              <div class="modal-footer">
                <h6 class="w3-margin-0">Department of Virology, NMIMR, UG, Legon.</h6>
              </div>
            </div>
          </div>

          <div class="w3-col l4 w3-padding-small">
            <div class="w3-card w3-round w3-border-bottom w3-border-grey zoom profile amoah">
              <img class="w3-round" src="images/img_amoah.png" alt="" style="width:100%;">
              <div class="w3-padding-medium">
                <i class="fas fa-user-md"></i>
                <i class="fas fa-id-card-alt w3-large w3-right w3-text-indigo w3-hover-text-grey "
                  title="View Full Profile"></i>
                <h6 class="w3-margin-0">Dr. Linda Amoah</h6>
                <span class="w3-text-grey w3-margin-0">Co-Investigator.</span>
                <hr>
                <i class="w3-text-black fas fa-university"></i>
                <p class="w3-margin-0">Department of Immunology, NMIMR, UG, Legon.</p>
              </div>
            </div>
          </div>

          <!-- The Modal -->
          <div class="modal" id="amoah">
            <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <span class="close"><i class="w3-text-black far fa-window-close"></i></span>
                <i class="fas fa-id-card-alt"></i>
                <h2 class="w3-margin-0">Dr. Linda Amoah</h2>
              </div>
              <div class="w3-row modal-body">
                <div class="w3-col l2">
                  <img class="w3-image w3-circle" src="images/img_amoah.png" alt="Image of Dr. Kwadwo Asamoah Kusi">
                </div>
                <div class="w3-col l10 w3-padding-large">
                  <i class="fas fa-info-circle w3-text-grey"></i> &nbsp;
                  <span class="w3-padding-0">Co-Investigator for the HEPMAL project</span>
                  <p class="w3-justify">Dr. Linda Amoah is a molecular biologist with malaria biology background in the
                    Immunology
                    Department of NMIMR. She has a PhD from Georgetown University in the US and has over fifteen years
                    of experience in molecular biology and recombinant DNA technology. Dr Amoah is responsible for some
                    molecular aspects of the project and will co-supervise one of the PhD students.
                  </p>
                </div>
              </div>
              <div class="modal-footer">
                <h6 class="w3-margin-0">Department of Immunology, NMIMR, UG, Legon.</h6>
              </div>
            </div>
          </div>

        </div>

        <div class="w3-row w3-padding-16">
          <div class="w3-col l4 w3-padding-small">
            <div class="w3-card w3-round w3-border-bottom w3-border-grey zoom profile afaa">
              <img class="w3-round" src="images/img_Afaa.jpg" alt="" style="width:100%;">
              <div class="w3-padding-medium">
                <i class="fas fa-user-md"></i>
                <i class="fas fa-id-card-alt w3-large w3-right w3-text-indigo w3-hover-text-grey "
                  title="View Full Profile"></i>
                <h6 class="w3-margin-0">Dr. Taiba J. Afaa</h6>
                <span class="w3-text-grey w3-margin-0">Department of Child Health</span>
                <hr>
                <i class="w3-text-black fas fa-hospital-alt"></i>
                <p class="w3-margin-0">Korle Bu Teaching Hospital, Accra.</p>
              </div>
            </div>
          </div>

          <div class="modal" id="afaa">
            <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <span class="close"><i class="w3-text-black far fa-window-close"></i></span>
                <i class="fas fa-id-card-alt"></i>
                <h2 class="w3-margin-0">Dr. Taiba J. Afaa</h2>
              </div>
              <div class="w3-row modal-body">
                <div class="w3-col l2">
                  <img class="w3-image w3-circle" src="images/img_Afaa.jpg" alt="Image of Dr. Kwadwo Asamoah Kusi">
                </div>
                <div class="w3-col l10 w3-padding-large">
                  <i class="fas fa-info-circle w3-text-grey"></i> &nbsp;
                  <span class="w3-padding-0">Co-Investigator for the HEPMAL project</span>
                  <p class="w3-justify">Dr. Taiba Jibril Afaa is also a gastroenterologist working at the Korle Bu
                    Teaching Hospital and a lecturer with the University of Ghana Medical School.
                  </p>
                </div>
              </div>
              <div class="modal-footer">
                <h6 class="w3-margin-0">Korle Bu Teaching Hospital, Accra.</h6>
              </div>
            </div>
          </div>


          <div class="w3-col l4 w3-padding-small">
            <div class="w3-card w3-round w3-border-bottom w3-border-grey zoom">
              <img class="w3-round" src="images/img_Tachi.jpg" alt="" style="width:100%;">
              <div class="w3-padding-medium">
                <i class="fas fa-user-md"></i>
                <h6 class="w3-margin-0">Dr. Kenneth Tachi</h6>
                <span class="w3-text-grey w3-margin-0">Gastoenterology Unit, Medical Sub-BMC.</span>
                <hr>
                <i class="w3-text-black fas fa-hospital-alt"></i>
                <p class="w3-margin-0">Korle Bu Teaching Hospital, Accra.</p>
              </div>
            </div>
          </div>

          <div class="w3-col l4 w3-padding-small">
            <div class="w3-card w3-round w3-border-bottom w3-border-grey zoom">
              <img class="w3-round" src="images/img_van.jpg" alt="" style="width:100%;">
              <div class="w3-padding-medium">
                <i class="fas fa-user-md"></i>
                <h6 class="w3-margin-0">Dr. William van der Puije</h6>
                <span class="w3-text-grey w3-margin-0">Post Doctoral Fellow</span>
                <hr>
                <i class="w3-text-black fas fa-university"></i>
                <p class="w3-margin-0">Department of Immunology, NMIMR, UG, Legon.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="w3-row w3-padding-16">

          <div class="w3-col l4 w3-padding-small">
            <div class="w3-card w3-round w3-border-bottom w3-border-grey zoom">
              <img class="w3-round" src="images/img_Selorm.jpg" alt="" style="width:100%;">
              <div class="w3-padding-medium">
                <i class="fas fa-user-tie"></i>
                <h6 class="w3-margin-0">Selorm Philip Segbefia</h6>
                <span class="w3-text-grey w3-margin-0">PhD Student</span>
                <hr>
                <i class="w3-text-black fas fa-university"></i>
                <p class="w3-margin-0">Department of Molecular Medicine, School of Medicine and Dentistry,
                  College of Health Kwame Nkrumah University of Science and Technology, Kumasi.</p>
              </div>
            </div>
          </div>
          <div class="w3-col l4 w3-padding-small">
            <div class="w3-card w3-round w3-border-bottom w3-border-grey zoom">
              <img class="w3-round" src="images/img_Diana.jpg" alt="" style="width:100%;">
              <div class="w3-padding-medium">
                <i class="fas fa-user-tie"></i>
                <h6 class="w3-margin-0">Diana Asema Asandem</h6>
                <span class="w3-text-grey w3-margin-0">PhD student.</span>
                <hr>
                <i class="w3-text-black fas fa-university"></i>
                <p class="w3-margin-0">West African Centre for Cell Biology of Infectious Pathogens (WACCBIP),
                  Department of Biochemistry, Cell and Moecular Biology (BCMB), University of Ghana, Legon.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="w3-row w3-padding-16">

          <div class="w3-col l4 w3-padding-small">
            <div class="w3-card w3-round w3-border-bottom w3-border-grey zoom">
              <img class="w3-round" src="images/img_Bright.jpeg" alt="" style="width:100%;">
              <div class="w3-padding-medium">
                <i class="fas fa-user-tie"></i>
                <h6 class="w3-margin-0">Bright Asare</h6>
                <span class="w3-text-grey w3-margin-0">MPhil student</span>
                <hr>
                <i class="w3-text-black fas fa-university"></i>
                <p class="w3-margin-0">Department of Animal Biology and Conservation Science (DABCS), College of Basic
                  and Applied Sciences, UG, Legon.</p>
              </div>
            </div>
          </div>
          <div class="w3-col l4 w3-padding-small">
            <div class="w3-card w3-round w3-border-bottom w3-border-grey zoom">
              <img class="w3-round" src="images/img_Rawdat.jpg" alt="" style="width:100%;">
              <div class="w3-padding-medium">
                <i class="fas fa-user-tie"></i>
                <h6 class="w3-margin-0">Rawdat Baba-Adam</h6>
                <span class="w3-text-grey w3-margin-0">MPhil student</span>
                <hr>
                <i class="w3-text-black fas fa-university"></i>
                <p class="w3-margin-0"> West African Centre for Cell Biology of Infectious Pathogens (WACCBIP),
                  Department of Biochemistry, Cell and Molecular Biology (BCMB), UG, Legon.</p>
              </div>
            </div>
          </div>

        </div>


        <div class="w3-padding-16">
          <p class="w3-margin-0">The project has also recruited study nurses, field/laboratory personnel and data
            entry personnel with the appropriate background and expertise for study implementation.</p>
        </div>

        <div id="work-plan"></div>
        <div class="w3-padding-48">
          <h2 class="section-title">WORK PLAN</h2>
          <span class="w3-text-grey">Project Updates:</span>
          <ul class="w3-ul">

            <li>• June 2020 - Ethical clearance obtained from the NMIMR Legon and Korle Bu Teaching Hospital
              Ethical/Institutional Review Boards.</li>
            <li>• July 2020 - Project initialization Zoom meeting for HEPMAL held.</li>
            <li>• September 2020 - Students, 2 at the PhD and 2 at Masters levels, as well as research and field
              assistants successfully enrolled on the project.</li>
            <li>• September 2020 - Visit to Korle Bu by the Noguchi HEPMAL team for preparatory work and
              familiarization.</li>
            <li>• September 2020 - Hepatitis B vaccinations of project staff administered.</li>
            <li>• October 2020 - Successful recruitment of first volunteers</li>
            <li>• Laboratory trials of various assays underway.</li>
            <li>• Procurement of some consumables and supplies done, others on-going.</li>
            <li></li>
            <li>• March 2021: <a class="w3-text-indigo" href="/6-month-Progress-Meeting">Month 6 progress meeting</a>  held. Theme: Hepatitis B, Malaria and the Liver Battleground</li>
            <li>• July 2021: HEPMAL-organized <a class="w3-text-indigo" href="/WHD-events">World Hepatitis Day event</a>  held, with free screening and vaccinations. Hep Can’t Wait!</li>
            <li>• August 2021: Donation of items to Liver Clinic, Korle Bu</li>
            <li>• September 2021: Successful exit of first volunteer after 1 year follow up period.</li>
          </ul>
        </div>

        <div class="w3-center">
          <h6 class="section-title w3-wide">Project Sponsor</h6>
          <p>This project (TMA2018SF-2456) is part of the <a
              href="http://www.edctp.org/projects-2/edctp2-projects/edctp-senior-fellowships-2018/">
              EDCTP2 Programme</a> supported by the European Union.
          </p>
          <img class="w3-image w3-center" src="images/hepmal-project-sponsers.png" alt="Hepmal Sponsor.">
        </div>                    

        <div class="w3-center w3-padding-32">
          <a href="#home">
            <i class="fas fa-arrow-up w3-large w3-text-blue zoom"></i>
          </a>
          <p class="w3-text-grey">Scroll to top</p>
        </div>

      </div><!-- Middle Column -->

      <div class="w3-col l2 w3-padding-medium w3-center w3-hide-medium w3-hide-small">
        <h6 class="section-title w3-wide">Project Sponsor</h6>
        <p>This project (TMA2018SF-2456) is part of the <a
            href="http://www.edctp.org/projects-2/edctp2-projects/edctp-senior-fellowships-2018/">
            EDCTP2 Programme</a> supported by the European Union.
        </p>
        <img class="w3-image w3-center" src="images/hepmal-project-sponsers.png" alt="Hepmal Sponsor.">
      </div>

    </div><!-- Main row -->
  </div><!-- Main Section / Container-->


  <%- include('partials/footer'); -%>