<%- include('partials/header'); -%>
    <div class="container">
        <div class="w3-row w3-padding-12">
            <div class="w3-col l8">
                <h6>World Hepatitis Day</h6>
                <h1>HEPMAL Project’s World Hepatitis Day activities</h1>
                <span>26th - 28th July 2021</span>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l8">

                <div class="slideshow-container">

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/WHD-img1.jpg" alt="Slide Image">
                        <div class="text">Some members of the HEPMAL Project team ready for the event</div>
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/WHD-img2.jpg" alt="Slide Image">
                        <div class="text">The venue</div>
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/WHD-img3.jpg" alt="Slide Image">
                        <div class="text">A section of members of the general public who turned up for free screening
                            and vaccination</div>
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/WHD-img4.jpg" alt="Slide Image">
                        <div class="text">A nurse educating individuals on viral hepatitis during the World Hepatitis
                            Day event</div>
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/WHD-img5.jpg" alt="Slide Image">
                        <div class="text">Okyeame Kwame, a popular Ghanaian artiste and Hepatitis B awareness advocate
                            speaking at the event</div>
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/WHD-img6.jpg" alt="Slide Image">
                        <div class="text">Technical staff at the sampling bench for screening</div>
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/WHD-img7.jpg" alt="Slide Image">
                        <div class="text">HEPMAL Project staff making the donation to the Liver Clinic</div>
                    </div>

                    <div class="mySlides fade">
                        <img class="w3-image w3-round w3-card" src="images/WHD-img8.jpg" alt="Slide Image">
                        <div class="text">A section of nurses at the liver clinic of the KorleBu Teaching Hospital with
                            the HEPMAL team</div>
                    </div>

                    <a class="prev" onclick="plusSlides(-1)"> <i class="fas fa-chevron-left"></i> </a>
                    <a class="next" onclick="plusSlides(1)"> <i class="fas fa-chevron-right"></i> </a>

                </div>

                <p>World Hepatitis Day (WHD), the 28th of July, is observed yearly to create awareness of viral
                    hepatitis globally. For 2021, the theme Hep Can’t Wait! was chosen to focus on the need to
                    strengthen efforts to eliminate hepatitis as a public health threat by 2030.</p>

                <p>In Ghana, to commemorate WHD 2021, the EDCTP2-funded HEPMAL project collaborated with the Ghana
                    Health Service and the Hepatitis Foundation of Ghana to organize activities to mark the day. The
                    project team facilitated a 2-day webinar series in the days leading up to WHD with hepatitis-related
                    subject matter specialists including researchers, hepatologists and a government health official.
                    The speakers addressed topics that covered the burden and management of hepatitis in Ghana, the
                    national response and Ghana’s Hepatitis Policy, as well as a look at new insights into hepatitis
                    research.</p>

                <p>The main event to mark WHD was a medical outreach on the 28th of July where clinicians and nurses
                    from the University of Ghana Hospital, the University of Ghana Medical Centre and the Greater Accra
                    Regional Hospital were in attendance to provide counselling services, education viral hepatitis and
                    to administer the vaccines. Representatives from The Hepatitis Society of Ghana (HEPSoG), The Ghana
                    Association for the Study of Liver and Digestive Diseases (GASLIDD) and The Hepatitis Foundation of
                    Ghana (HFG) were also present to support at the event. </p>

                <p>The then Director of the Noguchi Memorial Institute for Medical Research, Professor Abraham Anang was
                    also at the event, as was Okyeame Kwame, a renowned Ghanaian musician/songwriter and a Hepatitis B
                    Ambassador and leading advocate for HBV awareness and vaccination. They both addressed the gathering
                    during the outreach.</p>

                <p>In all, a little over 300 individuals were screened for hepatitis B on that day. Of this number, 246
                    were eligible and were administered the first dose of the Hepatitis B vaccine, also provided for
                    free. Another 19 individuals were positive for Hepatitis B surface antigen. They were counselled and
                    referred to specialists from the University Hospital for further assessment and management.</p>

                <p>Additionally, The HEPMAL project rounded off the WHD activities with a donation of office chairs,
                    ward screens, stationary, cleaning and sanitary products to the Liver Unit of the Korle Bu Teaching
                    Hospital, which is the main referral liver clinic and the primary site for recruitment of the HEPMAL
                    project participants. </p>

                <p>The free screening and vaccinations were made possible by a seed amount from the HEPMAL project, as
                    well as generous donations towards the event by AngloGold Ashanti Ghana, Crescent Chemist Ltd., the
                    West African Centre for Cell Biology of Infectious Pathogens (WACCBIP) at the University of Ghana,
                    and Kingdom Books and Stationery Ltd through a fundraising drive by the HEPMAL project staff. </p>

                <p>In general, the activities of HEPMAL in organizing this WHD event has highlighted the need for many
                    more of such programmes for a continued drive to create awareness of viral hepatitis, and to
                    encourage as many individuals as possible to get tested and to vaccinate. This will contribute to
                    achieving the global targets of drastically reducing new infections and deaths attributable to
                    hepatitis within the next decade.</p>

            </div>

            <div class="w3-col l4 w3-padding-large">
                <h5>WORLD HEPATITIS DAY Webinar Series (Hep Can't Wait!) • 26th - 27th July 2021</h5>
                <h5>WORLD HEPATITIS DAY Medical Outreach • 28th July 2021</h5>
            </div>
        </div>

    </div>

    <!-- Flyer Modal -->
    <div class="modal" id="webinarModal">
        <!-- Modal content -->
        <div class="modal-content w3-center">
            <span class="close w3-hide"><i class="w3-text-black fas fa-times"></i></span>
            <img class="w3-image" src="images/webinar-img.jpeg" alt="Progress Meeting Banner">
        </div>
    </div>

    <div class="modal" id="hepDayModal">
        <!-- Modal content -->
        <div class="modal-content w3-center">
            <span class="close w3-hide"><i class="w3-text-black fas fa-times"></i></span>
            <img class="w3-image" src="images/hepday-img.jpeg" alt="Progress Meeting Banner">
        </div>
    </div>


    <div class="container articles">
        <h5>Fliers</h5>
        <a class="webinarModalLink" href="javascript:void(0)"><span>
                Webinar Series (Hep Can't Wait!)
                <i class="fas fa-window-maximize"></i></span>
        </a>
        <a class="hepDayModalLink" href="javascript:void(0)"><span>
                Medical Outreach
                <i class="fas fa-window-maximize"></i></span>
        </a>
    </div>




    <%- include('partials/footer'); -%>