  <!-- Alert -->

  <!-- <div class="alert w3-center">
    <span class="closebtn">
      <i class="fas fa-times"></i>
    </span>
    <span class="w3-text-white">

      <i class="fas fa-bell w3-large w3-text-white"></i> &nbsp;
      <strong class="w3-text-white"> NOGUCHI HEALTH QUIZ </strong>
      <strong class="w3-text-red"> FINAL CONTEST</strong>
      <span class="w3-text-yellow healthQuizDate">
      </span>
      •
      <strong><span class="bannerlink healthQuizModalLink">View all details</span></strong>
      
    </span>
  </div> -->

  <!-- Alert -->