<div class="w3-card-4"
    style="background: url(https://www.noguchimedres.org/images/2018/03/12/noguchi.jpg) fixed no-repeat center; background-size: cover;">
    <footer class="footer w3-text-white w3-center">
      <img src="http://noguchimedres.org/images/footer-2.png" alt="footer Logo">
      <p>The Noguchi Memorial Institute for Medical Research (NMIMR), set up in 1979 as a semi autonomous institute of
        the University, is the leading biomedical research facility in Ghana.</p>
      <br>
      <a href="https://www.facebook.com/NoguchiLegon/">
        <i class="fab fa-facebook-f w3-xxlarge w3-text-white zoom"></i>
      </a>
      <br>
      <br>
      <span>&copy; 2020 NMIMR.</span>
    </footer>
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="js/index.js"></script>
</body>

</html>