<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>HEPMAL ׀ HBV and Plasmodium Co-Infection</title>
  <meta name="description"
    content="Clinical and immunopathological consequences of chronic HBV and Plasmodium falciparum co-infections (HEPMAL).">
  <meta name="keywords"
    content="HEPMAL, Clinical and Immunopathological Consequences of Chronic HBV and Plasmodium falciparum Co-infections">

  <!-- Mobile Specific meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Embeded Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap"
    rel="stylesheet">
  <!-- Font-awesome and Google Icons -->
  <script src="https://kit.fontawesome.com/dcd356c426.js" crossorigin="anonymous"></script>

  <!-- External Css  -->
  <link rel="stylesheet" href="css/master.css">
  <link rel="stylesheet" href="css/styles.css">

  <!-- Favicons -->
  <link rel="icon" href="favicon.ico">

</head>


<body>
  <!-- Navigation -->
  <div id="navbar" class=" w3-card">
    <a class=" w3-left" href="javascript:void(0)" id="bars"><i class="fas fa-bars w3-text-white zoom"></i></a>
    <a class="w3-hide-medium w3-hide-small" href="/"><i class="fas fa-home"></i></a>
    <a class="w3-hide-large w3-right" href="/"><i class="fas fa-home"></i></a>
    <div class="dropdown w3-hide-small w3-hide-medium">
      <a class="dropbtn"> BOOKMARKS <i class="fas fa-caret-down"></i></a>
      <div id="myDropdown" class="dropdown-content">
        <a href="/#home"><i class="fas fa-home w3-tiny "></i> PROJECT HOME</a>
        <a href="/#general-info"><i class="far fa-bookmark w3-tiny "></i> GENERAL INFO</a>
        <a href="/#the-project"><i class="far fa-bookmark w3-tiny "></i> THE PROJECT</a>
        <a href="/#aims"><i class="far fa-bookmark w3-tiny "></i> AIMS </a>
        <a href="/#institutions"><i class="far fa-bookmark w3-tiny "></i> INSTITUTIONS </a>
        <a href="/#research-team"><i class="far fa-bookmark w3-tiny "></i> RESEARCH TEAM</a>
        <a href="/#work-plan"><i class="far fa-bookmark w3-tiny "></i> WORK PLAN</a>
      </div>
    </div>
    <a class="w3-hide-small w3-hide-medium" href="/6-month-Progress-Meeting">6-MONTH PROGRESS MEETING</a>
    <a class="w3-hide-small w3-hide-medium" href="/WHD-events">
      <i class="fas fa-calendar-week w3-tiny "></i> WORLD HEPATITIS DAY EVENTS</a>
    <a class="w3-hide-small w3-hide-medium" title="Noguchi's Homepage" href="http://noguchimedres.org/index.php">
      NOGUCHIMEDRES <i class="fas fa-external-link-alt"></i></a>
  </div>
  <!-- Navigation -->

  <!-- Left Sidebar for smaller screens -->
  <div id="mySidenav" class="sidenav w3-animate-left w3-card">
    <div class="w3-padding-medium w3-right-align">
      <i class="fas fa-times w3-medium w3-text-white"></i>
    </div>
    <div class="sidenav-title">
      <i class="fas fa-bookmark w3-medium w3-text-white"></i>
      <h4 class="w3-wide w3-text-white">BOOKMARKS</h4>
    </div>

    <a href="/#home"><i class="fas fa-home"></i> PROJECT HOME</a>
    <a href="/#general-info"><i class="far fa-bookmark w3-tiny "></i> GENERAL INFO</a>
    <a href="/#the-project"><i class="far fa-bookmark w3-tiny "></i> THE PROJECT</a>
    <a href="/#aims"><i class="far fa-bookmark w3-tiny "></i> AIMS </a>
    <a href="/#institutions"><i class="far fa-bookmark w3-tiny "></i> INSTITUTIONS </a>
    <a href="/#research-team"><i class="far fa-bookmark w3-tiny "></i> RESEARCH TEAM</a>
    <a href="/#work-plan"><i class="far fa-bookmark w3-tiny "></i> WORK PLAN</a>

    <br>
    <a href="/6-month-Progress-Meeting"><i class="fas fa-arrow-right w3-tiny "></i> 6-month Progress Meeting</a>
    <a href="/WHD-events"><i class="fas fa-calendar-week w3-tiny"></i> WORLD HEPATITIS DAY EVENTS</a>
    <a href="http://noguchimedres.org/index.php">NOGUCHIMEDRES <i class="fas fa-external-link-alt"></i></a>
  </div>
  <!-- Left Sidebar for smaller screens -->