<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>HEPMAL ׀ HBV and Plasmodium Co-Infection</title>
  <meta name="description"
    content="Clinical and immunopathological consequences of chronic HBV and Plasmodium falciparum co-infections (HEPMAL).">
  <meta name="keywords"
    content="HEPMAL, Clinical and Immunopathological Consequences of Chronic HBV and Plasmodium falciparum Co-infections">

  <!-- Mobile Specific meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Embeded Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap"
    rel="stylesheet">
  <!-- Font-awesome and Google Icons -->
  <script src="https://kit.fontawesome.com/dcd356c426.js" crossorigin="anonymous"></script>

  <!-- External Css  -->
  <link rel="stylesheet" href="css/master.css">
  <link rel="stylesheet" href="css/styles.css">

  <!-- Favicons -->
  <link rel="icon" href="favicon.ico">

</head>

<body>
