  <!-- Left Sidebar for smaller screens -->
  <div id="mySidenav" class="sidenav w3-animate-left w3-card">
    <div class="w3-padding-medium w3-right-align">
      <i class="fas fa-times w3-medium w3-text-white"></i>
    </div>
    <div class="sidenav-title">
      <h4 class="w3-wide w3-text-white">HEPMAL</h4>
    </div>
    <a href="/#home"><i class="fas fa-home"></i> PROJECT HOME</a>
    <br>
    <span class="menu-title">PROGRESS MEETINGS</span>
    <a href="/6-month-Progress-Meeting"><i class="fas fa-arrow-right w3-tiny "></i> 6-month Progress Meeting</a>
    <a href="#"><i class="fas fa-arrow-right w3-tiny "></i> Year 2 Progress Meeting</a>
    <br>
    <span class="menu-title">WORLD HEPATITIS DAY EVENTS</span>
    <a href="/WHD-events-2021"><i class="fas fa-arrow-right w3-tiny"></i> World Hepatitis Day 2021 Events</a>
    <a href="#" in><i class="fas fa-arrow-right w3-tiny"></i> World Hepatitis Day 2022 Events</a>
    <br>
    <a href="http://noguchimedres.org/index.php">NOGUCHIMEDRES <i class="fas fa-external-link-alt"></i></a>
  </div>
  <!-- Left Sidebar for smaller screens -->