<!-- Navigation -->
<div id="navbar" class=" w3-card">
  <a class="w3-left w3-hide-large w3-hide-medium" href="javascript:void(0)" id="bars"><i class="fas fa-bars w3-text-white zoom"></i></a>
  <a class="w3-hide-small" href="/"><i class="fas fa-home"></i></a>
  <a class="w3-hide-large w3-right" href="/"><i class="fas fa-home"></i></a>

  <div class="dropdown w3-hide-small w3-hide-medium">
    <a class="dropbtn">MEETINGS & EVENTS <i class="fas fa-caret-down"></i></a>
    <div id="myDropdown" class="dropdown-content">
      <a href="/6-month-Progress-Meeting">6-MONTH Progress Meeting</a>
      <a href="#">Year 2 Progress Meeting</a>
      <a href="/WHD-events-2021">WORLD HEPATITIS DAY 2021 EVENTS</a>
      <a href="#">WORLD HEPATITIS DAY 2022 EVENTS</a>
    </div>
  </div>

  <!-- <a class="w3-hide-small w3-hide-medium" href="/WHD-events-2021">WORLD HEPATITIS DAY 2021 EVENTS</a> -->

  <a class="w3-hide-small w3-hide-medium" title="Noguchi's Homepage" href="http://noguchimedres.org/index.php">
    NOGUCHIMEDRES <i class="fas fa-external-link-alt"></i></a>
</div>
<!-- Navigation -->